.guideorange 
{   color: black !important;
    background-color: #ffb045 !important;}
.guidesection { color: white !important;
		background-color: black !important;}
.guidegroup {color: black !important;
	     background-color: silver !important;}
.background-white {background-color: white !important;}
.align-center  {text-align:center;
}



.tihgreen
{background-color: #8DC63F}


.HLyellow {background: #ffff99; 
color: #000000;}

.HLblue  {background: #649DC0; 
color: #000000;}


 /* ---- Basic grid ---- */
.span-1,.span-2,.span-3,.span-4,.span-5,.span-6,.span-7,.span-8,.span-9,.span-10,.span-11,.span-12,.border-top,.border-right,.border-bottom,.border-left{display:inline;float:left;position:relative;min-height:1px;}
#cn-centre-col-inner .span-1,#cn-centre-col-inner .span-2,#cn-centre-col-inner .span-3,#cn-centre-col-inner .span-4,#cn-centre-col-inner .span-5,#cn-centre-col-inner .span-6,#cn-centre-col-inner .span-7,#cn-centre-col-inner .span-8,#cn-centre-col-inner .span-9,#cn-centre-col-inner .span-10,#cn-centre-col-inner .span-11,#cn-centre-col-inner .span-12{margin-bottom:20px;}
.row-start {margin-left:0 !important;}
.row-end {margin-right:0  !important;}
.clear {clear:both;display:block;height:0;margin:0;overflow:hidden;visibility:hidden;width:0;}
.span-1 .span-1,.span-2 .span-2,.span-3 .span-3,.span-4 .span-4,.span-5 .span-5,.span-6 .span-6,.span-7 .span-7,.span-8 .span-8,.span-9 .span-9,.span-10 .span-10,.span-11 .span-11,.span-12 .span-12{margin-left:0 !important;margin-right:0 !important;}
.border-span-1,.border-span-2,.border-span-3,.border-span-4,.border-span-5,.border-span-6,.border-span-7,.border-span-8,.border-span-9,.border-span-10,.border-span-11,.border-span-12{background-repeat:no-repeat;border-bottom:1px solid #ccc !important;}
img.image-actual {width:auto !important;height:auto;}
.span-1 img,.span-2 img,.span-3 img,.span-4 img,.span-5 img,.span-6 img,.span-7 img,.span-8 img,.span-9 img,.span-10 img,.span-11 img,.span-12 img{ width:100%;height:auto; -ms-interpolation-mode:bicubic; }



